form.create-task {
    display: flex;
    text-align: left;
    margin-top: 20px;
    padding: 0 20%;
}

form.edit-task {
    text-align: left;
}

form.create-task input.form-text {
    outline: none !important;
    caret-color: #F3655B;
    font-size: 18px;
    height: 32px;
    width: 100%;
    margin-top: 6px;
    margin-right: 5px;
    padding: 5px;
    border-radius: 5px;
    background: white;
    border: 1px solid transparent;
}

form.edit-task div.form-group input.form-text {
    outline: none !important;
    caret-color: #F3655B;
    font-size: 18px;
    height: 50px;
    width: 100%;
    margin-right: 5px;
    margin-bottom: 2px;
    padding: 10px;
    border-radius: 5px;
    color: white;
    background: #1D1D2E;
    border: 1px solid transparent;
}

form.create-task button.btn-todo {
    float: right;
    padding: 5px 10px;
    margin-top: 4px;
    color: white;
    background: #FE5F55;
    box-shadow: 0 0.5rem 2rem rgba(0,0,0,.25);
}

form.edit-task button.btn-todo {
    float: right;
    margin-top: 5px;
    padding: 0 10px;
    color: white;
    background: #FE5F55;
    box-shadow: 0 0.5rem 2rem rgba(0,0,0,.25);
}

button.btn-todo:hover {
    background: #FE675D;
    box-shadow: 0 0.5rem 2rem rgba(0,0,0,.50);
}